name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build app
        working-directory: system-parking
        run: mvn clean package -DskipTests

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build image
        working-directory: system-parking
        run: |
          docker build -t meuuser/minha-app:latest .
          docker tag meuuser/minha-app:latest meuuser/minha-app:${{ github.sha }}

      - name: Push image
        run: |
          docker push meuuser/minha-app:latest
          docker push meuuser/minha-app:${{ github.sha }}
